<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><%= Package.name %></title>
</head>
<body>
  <section>
    500 Internal Server Error<br>
    <%= @vars[:message][:response][:message] %>
  </section>
</body>
</html>