<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><%= @package[:full_name] %></title>
</head>
<body>
  <section>
    <ul>
      <% @movies.each do |movie| %>
        <li><a href="<%= movie %>"><%= movie %></a></li>
      <% end %>
    </ul>
  </section>
</body>
</html>