<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>index</title>
</head>
<body>
  <article>
    <h1>東映アニメーション プリキュア公式</h1>
    <dl>
      <dt>Atomフィード</dt>
      <dd><a href="/feed/v1.0/site/toei">https://<%= @config['local']['server_name'] %>/feed/v1.0/site/toei</a></dd>
      <dt>BOT</dt>
      <dd><a href="https://precure.ml/@toei_bot" target="_blank">https://precure.ml/@toei_bot</a></dd>
      <dt>ソース</dt>
      <dd><a href="http://www.toei-anim.co.jp/tv/precure/" target="_blank">http://www.toei-anim.co.jp/tv/precure/</a></dd>
    </dl>
  </article>
  <article>
    <h1>ABC毎日放送 プリキュア公式</h1>
    <dl>
      <dt>Atomフィード</dt>
      <dd><a href="/feed/v1.0/site/abc">https://<%= @config['local']['server_name'] %>/feed/v1.0/site/abc</a></dd>
      <dt>BOT</dt>
      <dd><a href="https://precure.ml/@abc_bot" target="_blank">https://precure.ml/@abc_bot</a></dd>
      <dt>ソース</dt>
      <dd><a href="https://www.asahi.co.jp/precure/" target="_blank">https://www.asahi.co.jp/precure/</a></dd>
    </dl>
  </article>
  <article>
    <h1>プリキュアガーデン</h1>
    <dl>
      <dt>Atomフィード</dt>
      <dd><a href="/feed/v1.0/site/garden">https://<%= @config['local']['server_name'] %>/feed/v1.0/site/garden</a></dd>
      <dt>BOT</dt>
      <dd><a href="https://precure.ml/@garden_bot" target="_blank">https://precure.ml/@garden_bot</a></dd>
      <dt>ソース</dt>
      <dd><a href="http://www.toei-anim.co.jp/ptr/precure/" target="_blank">http://www.toei-anim.co.jp/ptr/precure/</a></dd>
    </dl>
  </article>
  <article>
    <h1>プリキュア公式YouTubeチャンネル</h1>
    <dl>
      <dt>BOT</dt>
      <dd><a href="https://precure.ml/@youtube_precure_bot" target="_blank">https://precure.ml/@youtube_precure_bot</a></dd>
      <dt>ソース</dt>
      <dd><a href="https://www.youtube.com/channel/UCSsjL41NsyqSNNbanuI0htg" target="_blank">https://www.youtube.com/channel/UCSsjL41NsyqSNNbanuI0htg</a></dd>
    </dl>
  </article>
  <article>
    <h1>ＨＵＧっと！プリキュア公式_キュアスタ</h1>
    <dl>
      <dt>BOT</dt>
      <dd><a href="https://mstdn.b-shock.org/@curesta_bot" target="_blank">https://mstdn.b-shock.org/@curesta_bot</a></dd>
      <dt>ソース</dt>
      <dd><a href="https://www.instagram.com/precure_curesta/" target="_blank">https://www.instagram.com/precure_curesta/</a></dd>
    </dl>
  </article>
  <article>
    <h1>その他</h1>
    <dl>
      <dt>めちょっく！メモ</dt>
      <dd><a href="/mechokku" target="_blank">https://<%= @config['local']['server_name'] %>/mechokku</a></dd>
    </dl>
  </article>
</body>
</html>